<footer id="footer" class="section" role="contentinfo">
    <section class="container {{ grid_size }}">
      {# Try to load a custom footer #}
      {% set custom_footer = page.header.custom_footer %}
      {% if custom_footer is not null %}
          {% set footer_content = custom_footer|markdown(false) %}
      {% else %}
          {% set footer_content = page.find('/modules/footer').content %}
      {% endif %}

      {% if footer_content is not null %}
        {{ footer_content|raw }}
      {% else %}

        {# Try to load pages with the 'footer' frontmatter attribute set to true
           NOTE: pages.all does not work here, as pages is only the root page and not a page object:
           https://github.com/getgrav/grav/issues/3049 #}
        {% set footer_pages = page.collection({'items': '@root.descendants', 'order': {'by': 'header.footer'}})|filter(x => x.header.footer == true) %}
        {% if footer_pages|length %}
          <ul class="footer-list">
            {% for p in footer_pages %}
              {% set active_page = (p.active) ? 'active' : '' %}
              <li>
                <a href="{{ p.url }}" class="{{ active_page }}">
                  {{ p.menu }}
                </a>
              </li>
            {% endfor %}
          </ul>

        {# Use default footer #}
        {% else %}
          <p><a href="http://getgrav.org">Grav</a> was <i class="fas fa-code"></i> with <i class="far fa-heart pulse"></i> by <a href="https://trilby.media">Trilby Media</a>.</p>
        {% endif %}
      {% endif %}
    </section>
</footer>
